.profile-container {
    height: 100%;
    width: 100%;
    padding: 2vw 7vw;
}

.buttons-block {
    text-align: right;
    margin-bottom: 13px;
}

.buttons-block .button {
    font-size: 13px;
    padding: 11px 25px;
    margin-right: 15px;
}

.profile-window {
    border: 3px solid #111111;
    padding: 2.1vw 3.2vw;
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}


.profile-window .avatar {
    max-width: 140px;
    min-width: 80px;
    flex-shrink: 2;
}


.avatar img {
    border-radius: 100px;
    width: 100%;
}

.profile-window .header3 {
    margin: 0 0 2px;
}

.profile-window .header4 {
    margin: 0;
    font-size: 21px;
}


.contact {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    margin-top: 6px;
}

.contacts {
    margin-top: 10px;
}

.contact img {
    vertical-align: text-top;
    margin-right: 5px;
}

.contact a {
    transition: 0.2s;
    color: #111111;
}

.contact a:hover {
    color: #F50106;
    transition: 0.3s;

}

.directions {
    margin-top: 8px;
}

.directions img {
    margin-right: 7px;
}


.about .label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

.about-text {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    max-width: 350px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 23px 15px 13px;
}

.header-block .button {
    padding: 8px 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.header-block .button-icon {
    vertical-align: middle;
}

hr {
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.achives {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}

.achive {
    width: 60px;
}

.achive img {
    width: 100%;
}

.transaction {
    display: flex;
    padding: 11px 28px;
    border: 2px solid #111111;
    border-radius: 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.transaction-block {
    width: 85%;
    margin: auto auto 10px;
}

.transaction-block .datetime {
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    margin-right: 35px;
    margin-bottom: 3px;
}

.transaction .groups {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.transaction .sender {
    font-weight: 600;
    font-size: 16px;
}

.transaction .count {
    font-weight: 700;
    font-size: 18px;
}

.transaction .message {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    max-width: 350px;
}

@media (max-width: 1000px) {
    .profile-window {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}