.modal .blockname {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 14px;
}

.modal .blockname__about {
    margin-left: 30px;
}

.modal .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 23px;
}

.modal .mydirection {
    margin-bottom: 4px;
}

.modal .aboutme {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    max-width: 350px;
    border: none;
    outline: none;
    flex: 1 1 auto;
}

.modal .aboutblock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.mydirections label {
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
    vertical-align: top;
}

.modal .refinput {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 20px 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    max-width: 350px;
    border: none;
    outline: none;
}

.modal .myrefs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 22px;
}

.myrefs .blockname {
    margin: 0;
}

.mydirections input[type=checkbox] {
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .modal .aboutblock {
        width: 100%;
    }

    .modal .aboutme {
        padding: 15px 20px;
    }
}