.modal .blockname {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 14px;
}

.modal .blockname__about {
    margin-left: 30px;
}

.modal form {
    width: 100%;
}

.modal .columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 23px;
}

.modal .mydirection {
    margin-bottom: 7px;
}

.modal .aboutme {
    background-color: #CCCCCC;
    border-radius: 25px;
    padding: 15px 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    max-width: 350px;
    border: none;
    outline: none;
    flex: 1 1 auto;
}

.modal .aboutblock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 52%;
}

.mydirections label {
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
    vertical-align: top;
}

.modal .refinput {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 20px 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    max-width: 350px;
    border: none;
    outline: none;
}

.modal .myrefs {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 22px;
}

.myrefs .blockname {
    margin: 0;
}

.myrefs .wrapper {
    width: 312px;
}

.mydirections input[type=checkbox] {
    transform: scale(1.2);
}

.edit-employee-form {
    margin-top: 25px;
}

.edit-employee-form .myrefs {
    margin-bottom: 14px;
    justify-content: flex-end;
}

.myrefs .select-container {
    margin-top: 0;
}

.myrefs .input-container {
    width: initial;
}

.edit-employee-form .button-block {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .modal .aboutblock {
        width: 100%;
    }

    .modal .aboutme {
        padding: 15px 20px;
        border-radius: 20px;
    }

    .myrefs input {
        margin-top: 10px;
    }

    .edit-employee-form .myrefs {
        margin-bottom: 12px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .edit-employee-form .myrefs label {
        margin-left: 15px;
        font-size: 15px;
    }

    .edit-employee-form {
        margin-top: 15px;
    }

    .myrefs .wrapper {
        width: 99%;
        margin-top: 10px;
    }
}