.send-container {
    max-width: 400px;
    margin: auto;
}

.send-container label {
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 9px;
    display: inline-block;
}

.send-container .mybalance {
    background: #CCCCCC;
    border-radius: 40px;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.send-container .datalist {
    margin-bottom: 15px;
}

.button-block {
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .send-container {
        max-width: 450px;
    }
}