.quest-card {
    background-color: #CCCCCC;
    border-radius: 40px;
    padding: 25px 2.3vw;
    max-width: 450px;
    min-width: 330px;
    box-sizing: border-box;
    height: 100%;
}

.quest-card .title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 13px;
}

.quest-card .body {
    display: flex;
    gap: 18px;
    align-items: center;
}

.quest-card .sum {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-bottom: 7px;
}


.quest-card .description {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 13px 18px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    display: -webkit-box;
    max-width: 400px;
}

.filter-value.tag {
    box-sizing: border-box;
}

.filter-value.tag label {
    padding-left: 0 !important;
}

.filter-value.tag label::before {
    display: none;
}

.filter-value.tag label::after {
    display: none;
}

.detailquest {
    max-width: 450px;
    margin-top: 5px;
}

.detailquest .header3 {
    text-align: center;
    padding: 0 34px;
    box-sizing: border-box;
}

.detailquest .quest-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 17px;
    border-radius: 20px;
}

.detailquest .quest-label {
    font-weight: 400;
    font-size: 14px;
}

.detailquest .quest-info-block {
    margin: 0 17px;
}

.detailquest .quest-info {
    font-weight: 600;
    font-size: 15px;
}

.detailquest .quest-hint {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.detailquest .rows {
    margin-bottom: 14px;
}

.quest-form .input-container {
    width: 100%;
}

.quest-form .input-container.select-container {
    width: initial;
    margin: 0;
}

.quest-form .quest-textarea {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: #CCCCCC;
}

.quest-textarea:focus-visible {
    outline: none
}

.quest-form .datalist {
    padding: 8px 20px;
    margin: 0;
}

.quest-form .wrapper {
    margin: 0;
}

.quest-form .input, .quest-form .quest-textarea, .quest-form .datalist {
    width: 300px;
    box-sizing: border-box;
}

.quest-form .inputs-block > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .quest-card {
        padding: 26px 24px;
        max-width: 450px;
        min-width: 280px;
    }

    .quest-card .body {
        gap: 12px;
    }

    .detailquest {
        margin-top: 0;
    }

    .quest-form .input, .quest-form .quest-textarea, .quest-form .datalist {
        width: 260px;
        margin-top: 3px;
    }

    .quest-form .inputs-block > div {
        display: block
    }

    .quest-form label {
        margin-left: 15px;
    }

    .quest-form .quest-textarea {
        padding: 10px 15px;
    }

    .quest-form .input {
        padding: 9px 15px;
        max-width: 100%;
    }
}