.window {
    border: 2px solid #111111;
    padding: 35px 64px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    height: 100%;
    width: 100%;
    padding: 2vw 7vw;
    box-sizing: border-box;
}


.header1 {
    font-weight: 700;
    font-size: 34px;
    margin: 0;
}

.header2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

.header3 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.window .header3 {
    text-align: center;
}

.input {
    background-color: #CCCCCC;
    border-radius: 30px;
    border: none;
    padding: 9px 12px;
    max-width: 90%;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 23px 15px 13px;
}

.header-block .button {
    padding: 8px 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.header-back {
    cursor: pointer;
    margin-right: 24px;
}

.main-header {
    margin-top: 8px;
}

.input:focus-visible {
    outline: none
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #111111;
    border-radius: 30px;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.button.btn-large {
    width: 70%;
}

.button:hover {
    background: #F50106;
    transition: 0.3s;
}

.button-icon {
    vertical-align: text-top;
    margin-left: 10px;
}

textarea {
    resize: none;
}

hr {
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.datalist {
    border-radius: 20px;
    border: 2px solid #111111;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    line-height: 150%;
}

body.lock {
    /*height: 100vh;*/
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.noinformation {
    text-align: center;
}

.balance-icon {
    vertical-align: middle;
}


@media (max-width: 768px) {
    .container {
        padding: 30px 3vw;
    }

    .header3 {
        font-size: 18px;
    }

    .header1 {
        font-size: 28px;
        margin-top: 10px;
    }

    .header-block {
        margin: 23px 5px 13px;
        align-items: center;
    }

    .header-block.header-search {
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    .header-block .button {
        padding: 8px 20px;
        font-size: 13px;
        letter-spacing: initial;
    }
}
