.window {
    border: 2px solid #111111;
    padding: 35px 64px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    height: 100%;
    width: 100%;
    padding: 2vw 7vw;
    box-sizing: border-box;
}


.header1 {
    font-weight: 700;
    font-size: 34px;
    margin: 0;
}

.header2 {
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

.header3 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

.window .header3 {
    text-align: center;
}

.input {
    background-color: #CCCCCC;
    border-radius: 30px;
    border: none;
    padding: 9px 12px;
    max-width: 90%;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 23px 15px 13px;
}

.header-block .button {
    padding: 8px 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.header-back {
    cursor: pointer;
    margin-right: 24px;
}

.main-header {
    margin-top: 8px;
}

.header-block .two-elements-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 5px;
}

.input:focus-visible {
    outline: none
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #111111;
    border-radius: 30px;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.button.btn-large {
    width: 70%;
}

.button.btn-mini {
    padding: 7px 14px;
    font-weight: 500;
    font-size: 11px;
}

.button.btn-tall {
    height: 40px;
}

.button:hover {
    background: #F50106;
    transition: 0.3s;
}

.button-icon {
    vertical-align: text-top;
    margin-left: 10px;
}

textarea {
    resize: none;
}

hr {
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.datalist {
    border-radius: 20px;
    border: 2px solid #111111;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    line-height: 150%;
}

body.lock {
    /*height: 100vh;*/
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.noinformation {
    text-align: center;
}

.balance-icon {
    vertical-align: middle;
}

.error-message {
    font-weight: 500;
    font-size: 14px;
    color: #F50106;
    padding: 13px 20px;
    background-color: #FDCCCD;
    border: 2px solid #F50106;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 415px;
}

/*анимация плавного появления попапов*/
.alert-enter {
    opacity: 0;
}
.alert-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    line-height: 17px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /*width: 18px;*/
    width: 16px;
    height: 16px;
    /*height: 18px;*/
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #111111;
    border-bottom: 4px solid #111111;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #999999;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}

@media (max-width: 818px) {
    .container {
        padding: 30px 3vw;
    }
}

@media (max-width: 768px) {
    .header3 {
        font-size: 18px;
    }

    .header1 {
        font-size: 28px;
        margin-top: 10px;
    }

    .header-block {
        margin: 23px 4px 13px;
        align-items: center;
    }

    .header-block.header-search {
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    .header-block .button {
        padding: 8px 20px;
        font-size: 13px;
        letter-spacing: initial;
    }

    .window {
        padding: 35px 5%;
    }

    .window .form label {
        font-size: 14px;
        margin-right: 10px;
    }
}
