.market-card {
    max-width: 450px;
    min-width: 305px;
    border-radius: 45px;
    border: 2px solid #111111;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 20px;
    min-height: 150px;
}

.market-card .avatar {
    min-width: 85px;
    min-height: 86px;
    margin-bottom: 3px;
}

.market-card .avatar img {
    width: 86px;
    border-radius: 20px;
}

.market-card .name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 7px;
}

.market-card .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.market-card .button {
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 14px;
}

.market-card .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setcolor {
    margin: auto;
}

.selected-color {
    margin-bottom: 15px;
}

.editmybuy .blockname {
    max-width: 450px;
    line-height: 135%;
    font-weight: 500;

}

@media (max-width: 767px) {
    .market-card .name {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .market-card .avatar img {
        width: 75px;
    }

    .market-card {
        min-width: 300px;
        border-radius: 40px;
        padding: 18px;
        gap: 15px;
        min-height: 130px;
    }

    .market-card .avatar {
        min-width: initial;
        min-height: initial;
    }

    .market-card .description {
        font-size: 13px;
        line-height: 130%;
    }

    .market-card .button {
        white-space: nowrap;
        padding: 5px 15px;
        font-size: 15px;
    }

    .market-card .button img {
        height: 15px;
        width: 15px;
    }
}